html, body {
    font-family: 'Rubik', sans-serif;;
    background-color: #252423;
    color: #f6f4f2;
}

.main-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-toggler {
    border-color:black;
}


.nav-link {
    margin-left: 10px;
}

.brand-name > a > img  {
    height: 40px;
}

a {
    color: #F6F4F2;
}

a:hover{
    color: #fec76e;    
}

.main-page > div > div > h1 {
    font-size: 60px;
}

.main-page {
    padding: 100px 100px 100px 100px;
}

.ml2 {
    font-weight: 700;
    font-size: 3.5em;
  }

.main-page > div > div > p > span{
    text-decoration:underline wavy #ff866a
}

.btn{
    margin-top: 20px;
    margin-right: 10px;
}

.btn-primary {
    background-color: transparent;
    border-color: #747474;
    border-style: dashed;
    color:#dadada;
}

.btn-primary:hover {
    background-color: #fec76e;
    border-color: #fec76e;
    color: #252423;
}

.main-info {
    background-color: #f6f4f2;
    color: #252423;
}

#sast {
    font-size: 14px;
}

.main-info > div > div > div {
    padding: 100px 100px 100px 100px;
    font-weight: 400;
    font-size: 2em;
}

footer > div > div > div > a > img  {
    height: 40px;
}

footer{
    padding: 100px 100px 100px 200px;
}

ul{
    list-style-type: none;  
}

footer > div > div > div >  ul > li > a:hover {
    text-decoration: none;
}

#title {
    padding-bottom: 10px;
}
